[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask==3.1.2",
    "flask-cors==6.0.2",
    "google-genai>=1.56.0",
    "gunicorn>=23.0.0",
    "openai>=2.14.0",
    "python-dotenv>=1.2.1",
]
